<!doctype html>
<html>
    <head>
    	<title>Agenda multi Tenency</title>
        
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/app.js?x49983"></script>

		<script src="/static/js/jquery.js?x49983"></script>
		<script src="/static/js/controllers/logController.js"></script>
		<script src="/static/js/controllers/contatosController.js"></script>
		<script src="/static/js/controllers/newController.js"></script>
		<script src="/static/js/controllers/editController.js"></script>
		<script src="/static/js/controllers/detailsController.js"></script>

		<script src="/static/service/userAccount.js"></script>
		<script src="/static/service/editContect.js"></script>
		<script src="/static/service/detailsService.js"></script>

		<!--<script src="/public/lib/angular-route.min.js"></script>
		<script src="/public/lib/angular-resource.min.js"></script>
		<script src="/public/lib/angular-animate.min.js"></script> -->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script> 

		<link rel="stylesheet" href="/static/css/bootstrap.css?x49983" />
		<link rel="stylesheet" href="/static/css/style_log.css?x49983" />
    </head>
    <body ng-app="myApp" style="background-color: #edf0f0;">
				
				<!--<hr/> -->
			 
			 <div ng-view></div>
    </body>
</html>