<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/js/app.js?x49983"></script>

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/controllers/logController.js"></script>
		<script src="static/js/controllers/contatosController.js"></script>
		<script src="static/js/controllers/newController.js"></script>

		<script src="static/service/userAccount.js"></script>

		<script src="static/js/lib/angular-route.min.js"></script>
		<script src="static/js/lib/angular-resource.min.js"></script>

		<link rel="stylesheet" href="/static/css/bootstrap.css?x49983" />
		<link rel="stylesheet" href="/static/css/style_log.css?x49983" />
    </head>
    <body ng-app="myApp">
				
				<!--<hr/> -->
			 
			 <div ng-view></div>
    </body>
</html>